@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;600;700&display=swap");

/* Theme style (colors & sizes) */
@import "partials/_theme-default";

/* Import our custom variables */
@import "partials/_variables";

/* Core Libs & Lib configs */
@import "partials/_framework";

/* Mixins */
@import "partials/_mixins";

/* Components */

/* Theme components */
@import "partials/_nav-bar";
@import "partials/_aside";
@import "partials/_title-bar";
@import "partials/hero.section";
@import "partials/_card";
@import "partials/_table";
@import "partials/_tiles";
@import "partials/_form";
@import "partials/_main-section";
@import "partials/_modal";
@import "partials/_footer";
@import "partials/_misc";
@import "partials/steps";

/* Own partials */
@import "partials/_flashes";

@import "partials/side-message";


/* GLOBAL STYLES */
.form-section {
  display: none;
}

.is-full-height {
  min-height: 100vh !important;
  overflow-y: auto;
}

.button {
  justify-content: center;
}

