extend dashboard
include mixins/_navbarDashboard.pug
include mixins/_donationTable.pug

block  header
  +navbarDashboard()

block prepend content
  - var view = '/donations'
block append content
    section.section.is-main-section
      .tile.is-ancestor
        +overviewTile('Collected', '2 of 6', 'shopping-bag')
        +overviewTile('Claimed', '5.2 kg', 'box')
        +overviewTile('Available', '6.9 kg', 'fruit-apple')
      if establishmentType === 'Fridge'
        #donations-map(data-lat=account.location.coordinates[0] data-lng=account.location.coordinates[1])
        .modal.has-align-items-center
          .modal-background
          .modal-card
            header.modal-card-head.has-background-primary
              p.modal-card-title.is-size-3.has-text-weight-bold.has-text-white
              button.delete.closeBtn(aria-label="close")
            section.modal-card-body.pb-0
              label.has-text-weight-semibold.mb-2
                span.icon.is-small.mr-2
                  ion-icon(src=`/icons/location-pin.svg`)
                span Address
              p.subtitle.is-5.has-text-grey.establishment-address
              label.has-text-weight-semibold.mb-2.is-flex.is-align-items-center
                span.icon.is-small.mr-2
                  ion-icon(src=`/icons/box.svg`)
                span.donor-name
              .box.my-3
                .columns.is-vcentered
                  .column.is-narrow.is-flex.is-justify-content-center
                    .image.is-32x32
                        img.is-rounded(src="https://eu.ui-avatars.com/api/?name=McDonalds")
                  .column.has-text-centered-mobile
                    p.title.is-6.my-1 Donation contents
                    p.is-size-6.my-1  Pastries, vegetables, packaged food
                  .column.is-narrow.has-text-centered-mobile.devider-l.pl-5
                    p.title.is-6.my-1 Weight
                    p.is-size-6.my-1  2.3kg
                  .column.is-narrow.has-text-centered-mobile.devider-r.pr-5
                    p.title.is-6.my-1 Expiry date
                    p.is-size-6.my-1  May 16, 2021
                  .column.is-narrow.is-flex.is-justify-content-center.pl-4
                    a.is-link.is-hidden-mobile(href="#") View
                    a.button.is-link.is-hidden-tablet(href="#") View Donation
              label.has-text-weight-semibold.mb-2.is-flex.is-align-items-center
                span.icon.is-small.mr-2
                  ion-icon(src=`/icons/clock.svg`)
                span Opening hours
            footer.modal-card-foot.has-background-white
              button.button.is-primary Get directions
              button.button.is-primary.is-light.closeBtn Close
      +donationTable()


block prepend scripts
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
    script(type="module" src="/dist/js/mapHandler.js")


