extend dashboard

include mixins/_navbarDashboard.pug
include mixins/_editEstablishmentForm.pug

block header
    +navbarDashboard()

block prepend content
  - var view = '/establishment/edit'
block append content
  .section
    +editEstablishmentForm()
block prepend scripts
  script(type="module" src="/dist/js/openingHoursSwitch.js")
  script(type="module" src="/dist/js/editEstablishmentHandler.js")