extends layout
include mixins/_forgotForm
include mixins/_sideMessage

block content
    .columns.is-centered.is-vcentered.is-full-height 
        +sideMessage()
        .column.is-three-quarters
            +forgotForm()
            a(href='/register') Need an account?