extends layout

include mixins/_indexMenu
include mixins/_sectionTitle
include mixins/_goalCard

block prepend mainMenu
  +indexMenu()

block content
  section.hero.is-medium
    .hero-body.is-flex.is-align-items-center
      .container.is-widescreen
          .columns.is-vcentered.is-align-items-center
            .column
              p.title.is-2
                | Reducing food waste!
              p.subtitle.is-5
                | Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                | sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                | sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                | At vero eos et accusam et justo duo dolores
              button.button.is-primary.is-large.is-hidden-touch Discover more
              button.button.is-primary.is-medium.is-hidden-desktop Discover more
            .column.is-three-fifths-fullhd.is-half-desktop
              img.hero-illustration(src="heroIllustration.svg")
  +sectionTitle('Our goals')
  .section.has-text-centered
    .container.is-widescreen
      .tile.is-ancestor
        +goalCard(
            'reduceGoal.svg',
            'Reduce Food Waste',
            'We aim to shrink the amount of food that is thrown away, by giving it another life with someone else!'
          )
        +goalCard(
          'communityGoal.svg',
          'Bring Together Communities',
          'Gathering people of all ages and backgrounds together to enjoy activities with new friends!'
        )
        +goalCard(
          'awarenessGoal.svg',
          'Raise Awareness & Educate',
          'We want to erase the negative stigma surrounding community fridges and make them a thing to be celebrated.'
        )
  section.section.is-medium
    .container.is-widescreen
      .columns.is-vcentered
        .column.is-5
          h2.title.is-3 Why use pantree?
          p.text
            | Food waste is a growing problem due to the shelf life being so short because of food standards.
            | However, most of the time the food items are still fresh and ready to eat. By using pantree,
            | we aim to offer a new life for this wasted food by giving it to community fridges.
          a.button.is-primary.is-medium.mt-5 Join us today!
        .column.is-6.is-offset-1
          .box.is-vcentered.mb-6
            .columns
              .column.is-one-third.is-flex.is-justify-content-center
                img.image(src="fridgeIcon.svg")
              .column
                p.title.is-5 Community Fridges
                p.is-size-6
                  | The pantree app allows fridge coordinators to manage and update information
                  | on community fridges all in one place. Coordinators will have a secure way
                  | to update their fridge space and keep track of incoming donations.
          .box.is-vcentered
            .columns
              .column.is-one-third.is-flex.is-justify-content-center
                img.image(src="businessIcon.svg")
              .column
                p.title.is-5 Local Business
                p.is-size-6
                  | Pantree allows local businesses to find and donate food items to community fridges.
                  | Businesses will have an easy to use system to manage donations via weight and send
                  | items on their way for a second chance.
  section.section
    .container.is-widescreen
      figure.image.is-16by9
        iframe( class="has-ratio" width='1182' height='665' src='https://www.youtube.com/embed/dyQ1F31_tBk'
        title='YouTube video player' frameborder='0'
        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
        allowfullscreen='')
  section.section.is-medium
    +sectionTitle(`See what we're up to!`)
    p.is-size-5.has-text-centered.mb-6
      | Keep up to date with all that's going on with pantree!
      br
      | Follow us on Twitter, Facebook and Instagram.
    .buttons.is-flex.is-justify-content-center
      a.button.is-large.is-round.is-primary.is-light.mx-5.my-3(href="#")
        span.icon
          ion-icon(size="large" name="logo-twitter")
      a.button.is-large.is-round.is-primary.is-light.mx-5.my-3(href="#")
        span.icon
          ion-icon(size="large" name="logo-facebook")
      a.button.is-large.is-round.is-primary.is-light.mx-5.my-3(href="#")
        span.icon
          ion-icon(size="large" name="logo-instagram")




