extends layout

include mixins/_indexMenu
include mixins/_sectionTitle
include mixins/_goalCard

block prepend mainMenu
  +indexMenu()

block content
  section.hero.page-section(data-section="#home")
    .hero-body.is-flex.is-align-items-center
      .container.is-widescreen
          .columns.is-vcentered.is-align-items-center
            .column.is-6-desktop.is-7-fullhd.is-hidden-tablet.mt-5
              img.hero-illustration(src="heroIllustrationMobile.svg")
            .column
              p.title.is-size-3-mobile.is-size-2-tablet
                | Reducing food waste!
              p.subtitle.is-size-6-mobile.is-size-5-tablet
                | Pantree is a web app focused on reducing food waste.
                | Our goal is to establish a strong link between community fridges and local food businesses and help save food which would otherwise go to waste.
              button.button.is-primary.is-large.is-hidden-touch.nav__link(data-section="#about") Discover more
              .is-flex.is-justify-content-center.is-hidden-desktop
                button.button.is-primary.is-medium.nav__link(data-section="#about") Discover more
            .column.is-6-desktop.is-7-fullhd.is-hidden-mobile
              img.hero-illustration(src="heroIllustration.svg")
  .page-section.has-text-light(data-section="#about") -
  +sectionTitle('Our goals', '')
  .section.has-text-centered
    .container.is-widescreen
      .tile.is-ancestor
        +goalCard(
            'reduceGoal.svg',
            'Reduce Food Waste',
            'We aim to shrink the amount of food that is thrown away, by giving it another life with someone else!'
          )
        +goalCard(
          'communityGoal.svg',
          'Bring Together Communities',
          'Gathering people of all ages and backgrounds together to enjoy activities with new friends!'
        )
        +goalCard(
          'awarenessGoal.svg',
          'Raise Awareness & Educate',
          'We want to erase the negative stigma surrounding community fridges and make them a thing to be celebrated.'
        )
  section.section.is-medium
    .container.is-widescreen
      .columns.is-vcentered
        .column.is-5
          h2.title.is-3 Why use pantree?
          p.text
            | Food waste is a growing problem due to the shelf life being so short because of food standards.
            | However, most of the time the food items are still fresh and ready to eat. By using pantree,
            | we aim to offer a new life for this wasted food by giving it to community fridges.
          a.button.is-primary.is-medium.mt-5.is-hidden-mobile(href="/register") Join us today!
        .column.is-6.is-offset-1
          .box.is-vcentered.mb-6
            .columns
              .column.is-one-third.is-flex.is-justify-content-center
                img.image(src="fridgeIcon.svg")
              .column
                p.title.is-5 Community Fridges
                p.is-size-6
                  | The pantree app allows fridge coordinators to manage and update information
                  | on community fridges all in one place. Coordinators will have a secure way
                  | to update their fridge space and keep track of incoming donations.
          .box.is-vcentered
            .columns
              .column.is-one-third.is-flex.is-justify-content-center
                img.image(src="businessIcon.svg")
              .column
                p.title.is-5 Local Business
                p.is-size-6
                  | Pantree allows local businesses to find and donate food items to community fridges.
                  | Businesses will have an easy to use system to manage donations via weight and send
                  | items on their way for a second chance.
        .is-flex.is-justify-content-center.is-hidden-desktop.mt-6
          a.button.is-primary.is-medium.mt-5.is-hidden-tablet(href="/register") Join us today!
  section.section
    .container.is-widescreen
      figure.image.is-16by9.video
        video(class="has-ratio" poster="thumbnail.png" controls)
          source(src='pantree-trailer-final.mp4' type='video/mp4')
          source(src='pantree-trailer-final.webm' type='video/webm')
          | Your browser does not support the video tag.
  section.section.is-medium
    +sectionTitle("See what we're up to!", "#contact")
    p.is-size-5.has-text-centered.mb-6
      | Keep up to date with all that's going on with pantree!
      br
      | Follow us on Twitter, Facebook and Instagram.
    .buttons.is-flex.is-justify-content-center
      a.button.is-large.is-round.is-primary.is-light.mx-5.my-3(href="https://twitter.com/wearepantree" target="_blank")
        span.icon
          ion-icon(size="large" name="logo-twitter")
      a.button.is-large.is-round.is-primary.is-light.mx-5.my-3(href="https://www.facebook.com/wearepantree/" target="_blank")
        span.icon
          ion-icon(size="large" name="logo-facebook")
      a.button.is-large.is-round.is-primary.is-light.mx-5.my-3(href="https://www.instagram.com/wearepantree/" target="_blank")
        span.icon
          ion-icon(size="large" name="logo-instagram")
  section.section.is-small.has-background-white.has-text-centered
    p Copyright © 2021 Pantree UK. All rights reserved.
    a.icon.has-text-primary.mx-3.mt-2(href="https://twitter.com/wearepantree" target="_blank")
      ion-icon(size="large" name="logo-twitter")
    a.icon.has-text-primary.mx-3.mt-2(href="https://www.facebook.com/wearepantree/" target="_blank")
      ion-icon(size="large" name="logo-facebook")
    a.icon.has-text-primary.mx-3.mt-2(href="https://www.instagram.com/wearepantree/" target="_blank")
      ion-icon(size="large" name="logo-instagram")
block prepend scripts
  script(src="/dist/js/indexMenuHandler.js")





