extends layout
include mixins/_loginForm.pug
include mixins/_sideMessage.pug

block content
    .columns.is-centered.is-vcentered.is-full-height 
        +sideMessage()
        .column.is-three-quarters
            +loginForm()
            a(href='/account/forgot') Forgotten password?

