extends layout
include mixins/_loginForm.pug
include mixins/_sideMessage.pug

block prepend doc-header
  html(class= "has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded has-side-message")

block content
    +sideMessage()
    .columns.is-centered.is-vcentered.is-full-height
        .column.is-three-quarters
            +loginForm()
            a(href='/account/forgot') Forgotten password?

block footer

