extend dashboard

include mixins/_navbarDashboard.pug
include mixins/_donationTable.pug

block  header
  +navbarDashboard()

block prepend content
  - var view = '/donations/manage'
block append content
    section.section.is-main-section
        if establishmentType === 'Business'
            +donationTable('Available donations', donations)
        +donationTable('Claimed donations', donations, true)
        +donationTable('Collected donations', donations, true, true)
block append scripts
  script(src="/dist/js/tablePagination.js")
  script(src="/dist/js/donationTableHandler.js")
