extends layout
include mixins/_registerForm
include mixins/_sideMessage

block prepend doc-header
  html(class= "has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded has-side-message")

block content
    +sideMessage()
    +registerForm()

block footer


