extends layout

include mixins/_sideMessage
include mixins/_formSteps
include mixins/_setupForm

block content
    +setupForm()

block prepend scripts
    script(type="module" src="/dist/js/openingHoursSwitch.js")
    script(type="module" src="/dist/js/formSectionHandlers.js")

