include _tableRowFridge.pug
include _tableRowBusiness.pug

mixin donationTable(tableTitle, donations = {}, conditionClaimed = false, conditionCollected = false)
  - var page = 0;
  - var rows = 0;
  .card.has-table.has-mobile-sort-spaced
          header.card-header
            p.card-header-title.is-size-5 #{tableTitle}
          .card-content
            .b-table.has-pagination
              .table-wrapper.has-mobile-cards
                table.table.is-fullwidth.is-hoverable.is-fullwidth.is-striped(table-type=tableTitle)
                  if establishmentType === 'Fridge'
                    thead
                      tr
                        th
                        th Business
                        th Donation contents
                        th Weight
                        th Added on
                        th Expiry date
                        th
                    tbody
                      each donation,index in donations
                        if donation.claimed === conditionClaimed && donation.collected === conditionCollected
                          - rows++
                          - if (Number.isInteger(rows / 5)) page++
                          +tableRowFridge(donation, page, index)
                  else
                    thead
                        tr
                          th
                          th Claimed by
                          th Donation contents
                          th Weight
                          th Added on
                          th Expiry date
                          th
                    tbody
                      each donation,index in donations
                        if donation.claimed === conditionClaimed && donation.collected === conditionCollected
                          - rows++
                          - if (Number.isInteger(rows / 5)) page++
                          +tableRowBusiness(donation, page, index)
              if rows === 0
                footer.card-footer.has-background-white-bis.no-results
                  .card-footer-item
                    h3.is-6 No results found
              else
                .notification.is-light
                  .level
                    .level-left
                      .level-item
                        .buttons.has-addons
                          - var n = 0;
                          while n < page
                            if n === 0
                              button.button.switch-page.is-active(type='button') #{(n++) + 1}
                            button.button.switch-page(type='button') #{(n++) + 1}