include _tableRowFridge.pug
include _tableRowBusiness.pug

mixin donationTable(tableTitle, donations = {}, conditionClaimed = false, conditionCollected = false)
  - var page;
  .card.has-table.has-mobile-sort-spaced
          header.card-header
            p.card-header-title.is-size-5 #{tableTitle}
          .card-content
            .b-table.has-pagination
              .table-wrapper.has-mobile-cards
                table.table.is-fullwidth.is-hoverable.is-fullwidth.is-striped
                  if establishmentType === 'Fridge'
                    thead
                      tr
                        th
                        th Business
                        th Donation contents
                        th Weight
                        th Added on
                        th Expiry date
                        th
                    tbody
                      each donation,index in donations
                        - if (Number.isInteger(index / 5)) page = index / 5
                        if donation.claimed === conditionClaimed && donation.collected === conditionCollected
                          +tableRowFridge(donation, page)
                  else
                    thead
                        tr
                          th
                          th Claimed by
                          th Donation contents
                          th Weight
                          th Added on
                          th Expiry date
                          th
                    tbody
                      each donation,index in donations
                        - if (Number.isInteger(index / 5)) page = index / 5
                        if donation.claimed === conditionClaimed && donation.collected === conditionCollected
                          +tableRowBusiness(donation, page)
              .notification.is-light
                .level
                  .level-left
                    .level-item
                      .buttons.has-addons
                        - var n = 0;
                        while n < page
                          if n === 0
                            button.button.switch-page.is-active(type='button') #{(n++) + 1}
                          button.button.switch-page(type='button') #{(n++) + 1}