include _logo.pug
include _userDropdown.pug

mixin navbarUserLogged ()
    nav.navbar.is-fixed-top.is-primary(role='navigation', aria-label='main navigation')
        .navbar-brand
            .navbar-item
                +logo(151, 32, '#ffffff')
        .navbar-menu
            .navbar-end
                +userDropdown()

