mixin sideMessage(msg)
  aside.aside.is-placed-left.is-expanded.is-side-message
    if msg
      h2.title.is-size-2= msg
    else
      - let i = Math.floor(Math.random()* (3 - 0) + 0)
      section.side-message.section.has-background-primary
        h2.title.is-size-4-widescreen.is-size-2-fullhd.mt-6
          | #{ h.foodFacts[i].fact }
        span.subtitle.is-size-6
          | #{ h.foodFacts[i].source }
        .side-illustration.is-flex.is-align-items-center
          img(src="IllustrationSignUp.png", alt="")
