mixin userDropdown()
    .navbar-item.has-dropdown.has-dropdown-with-icons.has-divider.has-user-avatar.is-hoverable.has-text-dark
        a.navbar-link
            .is-user-avatar
                img(src=`https://eu.ui-avatars.com/api/?name=${user.name.split(' ').join('+')}&bold=true&background=random`
                alt='user-avatar')
            .is-user-name
            span= user.name
            span.icon
        .navbar-dropdown
            a.navbar-item(href="/account")
                span.icon
                    ion-icon(src='/icons/user.svg')
                span My Profile
            hr.navbar-divider
            a.navbar-item(href="/logout" )
                span.icon
                    ion-icon(src='/icons/signout.svg')
                span Sign Out