mixin workingHoursInput(day)
    .field.is-grouped.is-horizontal.is-align-items-center.working-hours
        label.has-text-weight-semibold(for='day') #{day}
        input.switch.is-rounded.pt-0(type='checkbox' id=`switch${day}`)
        label.pt-0(for=`switch${day}`) .
        label.mx-3(for='start-time') From
        input.input(type="time" value="" placeholder="--:--" name=`start-time` disabled)
        label.mx-3(for='finish-time') To
        input.input(type="time" value="" placeholder="--:--" name=`finish-time` disabled)