@include desktop {
  html {
    &.has-aside-left {
      &.has-aside-expanded {
        nav.navbar,
        body {
          padding-left: $aside-width;
        }
      }
      nav.navbar,
      body {
        @include transition(padding-left);
      }
      aside.is-placed-left {
        display: block;
      }
      &.has-side-message {
        nav.navbar {
          padding-left: 0;
        }
        body {
          padding-left: $aside-width-message;
          transition-property: none;
        }
      }
    }
  }

  aside.aside.is-expanded {
    width: $aside-width;
    &.is-side-message {
      top: 3.25rem;
      z-index: 0;
      height: calc(100vh - 3.25rem);
      width: $aside-width-message;
    }
    .menu-list {
      @include icon-with-update-mark($aside-icon-width);

      span.menu-item-label {
        display: inline-block;
      }

      li.is-active {
        ul {
          display: block;
        }
      }
    }
  }
}

aside.aside {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  height: 100vh;
  padding: 0;
  box-shadow: $aside-box-shadow;
  background: $aside-background-color;

  .aside-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $aside-tools-color;
    line-height: $navbar-height;
    height: $navbar-height;
    background: $primary;
    flex: 1;

    .icon {
      margin-right: $default-padding * 0.5;
    }
  }

  .menu {
    padding-right: $default-padding * 0.7;
  }

  .menu-list {
    li {
      a {
        border-radius: 0 20px 20px 0;
      }
    }
  }

  .menu-label {
    padding: 0 $default-padding * 0.5;
    margin-top: $default-padding * 0.5;
    margin-bottom: $default-padding * 0.5;
  }
}

@include touch {
  .side-message {
    width: 0 !important;
  }
  .section,
  nav.navbar {
    @include transition(margin-left);
  }
  aside.aside {
    @include transition(left);
  }
  aside.aside.is-side-message {
    transition-property: none;
  }
  html.has-aside-mobile-transition {
    body {
      overflow-x: hidden;
    }
    body,
    .section,
    nav.navbar {
      width: 100vw;
    }
    aside.aside {
      width: $aside-mobile-width;
      display: block;
      left: $aside-mobile-width * -1;

      .image {
        img {
          max-width: $aside-mobile-width * 0.33;
        }
      }

      .menu-list {
        li.is-active {
          ul {
            display: block;
          }
        }
        a {
          @include icon-with-update-mark($aside-icon-width);

          span.menu-item-label {
            display: inline-block;
          }
        }
      }
    }
  }
  html.has-aside-mobile-expanded {
    .section,
    nav.navbar {
      margin-left: $aside-mobile-width;
    }
    aside.aside {
      left: 0;
    }
  }
}
