.hero {
    min-width: 100vw;
    min-height: 105vh;
    background-image: url("../../heroBackground.svg");
    background-size: cover;
}
@include mobile {
    .hero {
        min-height: 100vh;
        background-image: none;
    }
}
.goal {
    .card-content {
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
