@include mobile {
  .modal-card {
    width: $modal-card-width-mobile;
  }
}
@include tablet {
  .modal-card {
    width: $modal-card-width-tablet;
  }
}
@include desktop {
  .modal-card {
    width: $modal-card-width;
  }
}
