@include mobile {
  .modal-card {
    width: $modal-card-width-mobile;
    .devider-y {
      border-right: none;
    }
  }
}
@include tablet {
  .modal-card {
    width: $modal-card-width-tablet;
  }
}
@include desktop {
  .modal-card {
    width: $modal-card-width;
  }
}
