@include mobile {
  .modal-card {
    width: $modal-card-width-mobile;
    .devider-l,
    .devider-r {
      border-right: none;
      border-left: none;
    }
  }
}
@include tablet {
  .modal-card {
    width: $modal-card-width-tablet;
  }
}
@include desktop {
  .modal-card {
    width: $modal-card-width;
  }
}
