/* SETUP CUSTOM VARIABLES */
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$family-primary: "Poppins", sans-serif;
$family-sans-serif: "Lato", sans-serif;

$title-family: $family-primary;
$title-size: $size-1;
$title-weight: $weight-semibold;
// $title-color:; // TODO

$subtitle-family: $family-primary;
$subtitle-size: $size-2;
$subtitle-weight: $weight-medium;
// $subtitle-color:; // TODO

// $content-heading-color:; // TODO
$content-heading-weight: $weight-normal;

$button-family: $family-sans-serif;
